In [6]:
import numpy as np
import pandas as pd
filename = "datasets/diamonds.csv"
df = pd.read_csv(filename)

df.head(107)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46
12,13,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33
13,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71
14,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68
16,17,0.30,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
17,18,0.30,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70
18,19,0.30,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71
19,20,0.30,Very Good,J,SI1,62.7,59.0,351,4.21,4.27,2.66
20,21,0.30,Good,I,SI2,63.3,56.0,351,4.26,4.30,2.71
21,22,0.23,Very Good,E,VS2,63.8,55.0,352,3.85,3.92,2.48
22,23,0.23,Very Good,H,VS1,61.0,57.0,353,3.94,3.96,2.41
23,24,0.31,Very Good,J,SI1,59.4,62.0,353,4.39,4.43,2.62
24,25,0.31,Very Good,J,SI1,58.1,62.0,353,4.44,4.47,2.59
25,26,0.23,Very Good,G,VVS2,60.4,58.0,354,3.97,4.01,2.41
26,27,0.24,Premium,I,VS1,62.5,57.0,355,3.97,3.94,2.47
27,28,0.30,Very Good,J,VS2,62.2,57.0,357,4.28,4.30,2.67
28,29,0.23,Very Good,D,VS2,60.5,61.0,357,3.96,3.97,2.40
29,30,0.23,Very Good,F,VS1,60.9,57.0,357,3.96,3.99,2.42
...,...,...,...,...,...,...,...,...,...,...,...
77,78,0.26,Very Good,D,VVS2,62.4,54.0,554,4.08,4.13,2.56
78,79,0.26,Very Good,D,VVS2,62.8,60.0,554,4.01,4.05,2.53
79,80,0.26,Very Good,E,VVS1,62.6,59.0,554,4.06,4.09,2.55
80,81,0.26,Very Good,E,VVS1,63.4,59.0,554,4.00,4.04,2.55
81,82,0.26,Very Good,D,VVS1,62.1,60.0,554,4.03,4.12,2.53
82,83,0.26,Ideal,E,VVS2,62.9,58.0,554,4.02,4.06,2.54
83,84,0.38,Ideal,I,SI2,61.6,56.0,554,4.65,4.67,2.87
84,85,0.26,Good,E,VVS1,57.9,60.0,554,4.22,4.25,2.45
85,86,0.24,Premium,G,VVS1,62.3,59.0,554,3.95,3.92,2.45
86,87,0.24,Premium,H,VVS1,61.2,58.0,554,4.01,3.96,2.44
87,88,0.24,Premium,H,VVS1,60.8,59.0,554,4.02,4.00,2.44
88,89,0.24,Premium,H,VVS2,60.7,58.0,554,4.07,4.04,2.46
89,90,0.32,Premium,I,SI1,62.9,58.0,554,4.35,4.33,2.73
90,91,0.70,Ideal,E,SI1,62.5,57.0,2757,5.70,5.72,3.57
91,92,0.86,Fair,E,SI2,55.1,69.0,2757,6.45,6.33,3.52
92,93,0.70,Ideal,G,VS2,61.6,56.0,2757,5.70,5.67,3.50
93,94,0.71,Very Good,E,VS2,62.4,57.0,2759,5.68,5.73,3.56
94,95,0.78,Very Good,G,SI2,63.8,56.0,2759,5.81,5.85,3.72
95,96,0.70,Good,E,VS2,57.5,58.0,2759,5.85,5.90,3.38
96,97,0.70,Good,F,VS1,59.4,62.0,2759,5.71,5.76,3.40
97,98,0.96,Fair,F,SI2,66.3,62.0,2759,6.27,5.95,4.07
98,99,0.73,Very Good,E,SI1,61.6,59.0,2760,5.77,5.78,3.56
99,100,0.80,Premium,H,SI1,61.5,58.0,2760,5.97,5.93,3.66
100,101,0.75,Very Good,D,SI1,63.2,56.0,2760,5.80,5.75,3.65
101,102,0.75,Premium,E,SI1,59.9,54.0,2760,6.00,5.96,3.58
102,103,0.74,Ideal,G,SI1,61.6,55.0,2760,5.80,5.85,3.59
103,104,0.75,Premium,G,VS2,61.7,58.0,2760,5.85,5.79,3.59
104,105,0.80,Ideal,I,VS1,62.9,56.0,2760,5.94,5.87,3.72
105,106,0.75,Ideal,G,SI1,62.2,55.0,2760,5.87,5.80,3.63
106,107,0.80,Premium,G,SI1,63.0,59.0,2760,5.90,5.81,3.69

In [7]:
df.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [9]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [10]:
df.tail()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [12]:
df.dtypes

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

In [13]:
df.count()

Unnamed: 0    53940
carat         53940
cut           53940
color         53940
clarity       53940
depth         53940
table         53940
price         53940
x             53940
y             53940
z             53940
dtype: int64

In [14]:
df['price'].sum()

212135217

In [15]:
df['price'].mean()

3932.799721913237

In [16]:
df['price'].mode()

0    605
dtype: int64

In [17]:
df['carat'].mean()

0.7979397478679852

In [19]:
df['price'].std()

3989.4397381463023

In [20]:
df.count()

Unnamed: 0    53940
carat         53940
cut           53940
color         53940
clarity       53940
depth         53940
table         53940
price         53940
x             53940
y             53940
z             53940
dtype: int64

In [21]:
df.groupby('price')

In [22]:
df['carat'].groupby(df['price']).mean()

price
326      0.220000
327      0.230000
334      0.290000
335      0.310000
336      0.240000
337      0.240000
338      0.230000
339      0.300000
340      0.230000
342      0.220000
344      0.310000
345      0.260000
348      0.300000
351      0.300000
352      0.230000
353      0.283333
354      0.230000
355      0.240000
357      0.242500
358      0.260000
360      0.290000
361      0.272500
362      0.242500
363      0.298000
364      0.233333
365      0.320000
366      0.330000
367      0.225294
368      0.300000
369      0.230000
           ...
18717    2.180000
18718    1.700000
18729    1.510000
18730    1.720000
18731    2.020000
18735    1.940000
18736    2.010000
18741    2.010000
18745    2.360000
18756    2.610000
18757    2.030000
18759    2.000000
18760    2.080000
18766    2.550000
18768    1.710000
18777    1.510000
18779    2.060000
18780    1.600000
18781    2.030000
18784    2.050000
18787    2.050000
18788    2.800000
18791    1.930000
18795    2.020000
18797    2.290000
18803    2.000000
18804    2.070000
18806    1.510000
18818    2.000000
18823    2.290000
Name: carat, Length: 11602, dtype: float64

In [23]:
pd.pivot_table(df, index=['cut'])

,Unnamed: 0,carat,depth,price,table,x,y,z
cut,,,,,,,,
Fair,24147.357764,1.046137,64.041677,4358.757764,59.053789,6.246894,6.182652,3.982770
Good,24774.931309,0.849185,62.365879,3928.864452,58.694639,5.838785,5.850744,3.639507
Ideal,29047.630736,0.702837,61.709401,3457.541970,55.951668,5.507451,5.520080,3.401448
Premium,25600.209049,0.891955,61.264673,4584.257704,58.746095,5.973887,5.944879,3.647124
Very Good,26097.313193,0.806381,61.818275,3981.759891,57.956150,5.740696,5.770026,3.559801

In [24]:
pd.pivot_table(df, values=['price'], index=['cut'])

                 price
cut
Fair       4358.757764
Good       3928.864452
Ideal      3457.541970
Premium    4584.257704
Very Good  3981.759891

In [25]:
pd.pivot_table(df, values=['price', 'clarity'], index=['cut'])

                 price
cut
Fair       4358.757764
Good       3928.864452
Ideal      3457.541970
Premium    4584.257704
Very Good  3981.759891

In [26]:
pd.pivot_table(df, values=['cut', 'clarity', 'table'], index=['price'])

           table
price
326    58.000000
327    65.000000
334    58.000000
335    58.000000
336    57.000000
337    58.000000
338    61.000000
339    55.000000
340    56.000000
342    61.000000
344    54.000000
345    60.000000
348    54.000000
351    56.250000
352    55.000000
353    60.333333
354    58.000000
355    57.000000
357    57.875000
358    56.000000
360    55.500000
361    58.250000
362    56.500000
363    57.200000
364    53.666667
365    59.000000
366    54.000000
367    58.176471
368    58.333333
369    58.000000
...          ...
18717  60.000000
18718  59.000000
18729  57.000000
18730  60.000000
18731  59.000000
18735  58.000000
18736  57.000000
18741  58.000000
18745  58.000000
18756  56.000000
18757  55.800000
18759  60.000000
18760  60.000000
18766  62.000000
18768  55.000000
18777  59.000000
18779  55.000000
18780  56.000000
18781  60.000000
18784  59.000000
18787  57.000000
18788  58.000000
18791  56.500000
18795  59.500000
18797  59.000000
18803  57.000000
18804  55.000000
18806  55.000000
18818  56.000000
18823  60.000000

[11602 rows x 1 columns]

In [30]:
df['carat'].count

<bound method Series.count of 0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
5        0.24
6        0.24
7        0.26
8        0.22
9        0.23
10       0.30
11       0.23
12       0.22
13       0.31
14       0.20
15       0.32
16       0.30
17       0.30
18       0.30
19       0.30
20       0.30
21       0.23
22       0.23
23       0.31
24       0.31
25       0.23
26       0.24
27       0.30
28       0.23
29       0.23
         ...
53910    0.70
53911    0.57
53912    0.61
53913    0.80
53914    0.84
53915    0.77
53916    0.74
53917    0.90
53918    0.76
53919    0.76
53920    0.70
53921    0.70
53922    0.70
53923    0.73
53924    0.73
53925    0.79
53926    0.71
53927    0.79
53928    0.79
53929    0.71
53930    0.71
53931    0.71
53932    0.70
53933    0.70
53934    0.72
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64>

In [31]:
df['clarity'].count()

53940

In [35]:
df['x'].std()

1.1217607467924422

In [36]:
pd.pivot_table(df, values=['x', 'y', 'z'], index=df['price'])

              x         y         z
price
326    3.920000  3.910000  2.370000
327    4.050000  4.070000  2.310000
334    4.200000  4.230000  2.630000
335    4.340000  4.350000  2.750000
336    3.945000  3.970000  2.475000
337    3.970000  3.945000  2.510000
338    4.000000  4.050000  2.390000
339    4.250000  4.280000  2.730000
340    3.930000  3.900000  2.460000
342    3.880000  3.840000  2.330000
344    4.350000  4.370000  2.710000
345    4.085000  4.085000  2.475000
348    4.310000  4.340000  2.680000
351    4.232500  4.280000  2.695000
352    3.850000  3.920000  2.480000
353    4.256667  4.286667  2.540000
354    3.970000  4.010000  2.410000
355    3.970000  3.940000  2.470000
357    3.993750  4.007500  2.477500
358    4.080000  4.160000  2.550000
360    4.265000  4.285000  2.640000
361    4.167500  4.202500  2.560000
362    3.962500  3.995000  2.487500
363    4.258000  4.288000  2.660000
364    3.950000  3.983333  2.463333
365    4.370000  4.410000  2.730000
366    4.430000  4.450000  2.770000
367    3.910000  3.898824  2.403529
368    4.280000  4.315000  2.668333
369    3.890000  3.913333  2.446667
...         ...       ...       ...
18717  8.380000  8.300000  5.100000
18718  7.700000  7.750000  4.620000
18729  7.340000  7.400000  4.530000
18730  7.650000  7.680000  4.740000
18731  8.110000  8.200000  4.880000
18735  7.910000  7.870000  4.940000
18736  8.070000  8.090000  5.020000
18741  8.093333  8.033333  4.986667
18745  8.690000  8.750000  5.180000
18756  8.850000  8.730000  5.460000
18757  8.170000  8.300000  4.950000
18759  8.280000  8.340000  4.810000
18760  8.360000  8.400000  4.920000
18766  8.700000  8.650000  5.360000
18768  7.660000  7.630000  4.750000
18777  7.330000  7.240000  4.560000
18779  8.150000  8.190000  5.080000
18780  7.470000  7.520000  4.650000
18781  8.000000  7.930000  5.020000
18784  8.280000  8.330000  5.000000
18787  8.100000  8.160000  5.030000
18788  8.900000  8.850000  0.000000
18791  7.930000  7.940000  4.955000
18795  8.250000  8.150000  4.875000
18797  8.520000  8.450000  5.240000
18803  7.950000  8.000000  5.010000
18804  8.200000  8.130000  5.110000
18806  7.370000  7.410000  4.560000
18818  7.900000  7.970000  5.040000
18823  8.500000  8.470000  5.160000

[11602 rows x 3 columns]